<div class="about">
    <div class="title">
        <h1>I’M NUR <br> BOHIGAS</h1>
    </div>
    <div class="img-me">
        <img src="assets/me.png" alt="Picture of me">
    </div>
    <div class="content">
    <p>
    Hi! I’m a junior full-stack developer passionate about building applications that are not only functional but also meaningful and visually appealing. I work with different technologies, always aiming to create products that are scalable, intuitive, and enjoyable to use.
<br> <br>
    I also enjoy documenting my journey, experimenting with new ideas, and blending my professional side with personal passions—like graphic design, drawing, traveling, filming, cozy games, and exploring projects that connect people and stories.
    </p>
    </div>
</div>
