<div class="about">
    <div class="title">
        <h1>I’M NUR <br> BOHIGAS</h1>
    </div>
    <div class="img">
        <img src="assets/me.png" alt="Picture of me">
    </div>
    <div class="content">
    <p>
    Hi! I’m a junior full-stack developer passionate about building applications that are not only functional but also meaningful and visually appealing. I work with different technologies, always aiming to create products that are scalable, intuitive, and enjoyable to use.

    I see technology not just as a career, but as a way to design freedom and creativity into everyday life.

    I also enjoy documenting my journey, experimenting with new ideas, and blending my professional side with personal passions—like graphic design, drawing, traveling, filming, cozy games, and exploring projects that connect people and stories.

    Right now, I’m focused on evolving my own projects and finding a remote role, while shaping my skills as a developer who can take an idea all the way from concept to a finished product.
    </p>
    </div>
</div>
