
<div class="projects">
    <div class="title">
        <h1>PROJECTS</h1>
    </div>
    <div class="cards">
    <div class="card">
      <div class="card-img">
        <img src="/assets/projects/project1.jpg" alt="Project 1">
      </div>
      
      <div class="card-content">
        <h4 class="card-title">E-commerce Platform</h4>
        <p class="card-description">
          A full-stack e-commerce solution with React, Node.js, and MongoDB. 
        </p>
        
      </div>
    </div>
    <div class="card">
      <div class="card-img">
        <img src="/assets/projects/project1.jpg" alt="Project 1">
      </div>
      
      <div class="card-content">
        <h4 class="card-title">E-commerce Platform</h4>
        <p class="card-description">
          A sample project description goes here.
        </p>
        
      </div>
    </div>
    <div class="card">
      <div class="card-img">
        <img src="/assets/projects/project1.jpg" alt="Project 1">
      </div>
      
      <div class="card-content">
        <h4 class="card-title">E-commerce Platform</h4>
        <p class="card-description">
          A full- user , payment processing, and admin dashboard.
        </p>
        
      </div>
    </div>
    
  </div>
</div>