<div class="education">
    <div class="title">
        <h1>EDUCATION</h1>
    </div>
    <div class="custom-accordion">
  <div class="accordion-item">
    <div class="accordion-header">
      <button class="accordion-button" (click)="toggleAccordion(0)" [class.active]="isOpen[0]">
        <span class="accordion-title">Digital creation, animation and videogame production at Universidade A Coruña 2020-2022</span>
        <span class="accordion-icon">{{ isOpen[0] ? '−' : '+' }}</span>
      </button>
    </div>
    <div class="accordion-content" [class.active]="isOpen[0]">
      <div class="accordion-body">
        <p>During this degree I explored both the artistic and technical sides of digital media. I learned how to create 2D and 3D animations, design digital content, and work on video game production from concept to final product. What I enjoyed most was combining creativity with technology, experimenting with storytelling, visual design, and interactive experiences that bring ideas to life.</p>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <div class="accordion-header">
      <button class="accordion-button" (click)="toggleAccordion(1)" [class.active]="isOpen[1]">
        <span class="accordion-title">Higher Vocational degree in cross-plataform development at ies augusto de linares 2023-2025</span>
        <span class="accordion-icon">{{ isOpen[1] ? '−' : '+' }}</span>
      </button>
    </div>
    <div class="accordion-content" [class.active]="isOpen[1]">
      <div class="accordion-body">
        <p>This program gave me a solid foundation in software development for different platforms. I worked on projects involving programming, databases, mobile and desktop applications, and web technologies. It allowed me to focus on building practical, user-friendly solutions and strengthened my skills in problem-solving and software design. Thanks to this experience, I discovered my passion for developing applications that people can actually use in their everyday lives.</p>
      </div>
    </div>
  </div>
</div>
</div>