<div class="education">
    <div class="title">
        <h1>EDUCATION</h1>
    </div>
    <div class="custom-accordion">
  <div class="accordion-item">
    <div class="accordion-header">
      <button class="accordion-button" (click)="toggleAccordion(0)" [class.active]="isOpen[0]">
        <span class="accordion-title">Digital creation, animation and videogame production at Universidade A Coruña 2020-2022</span>
        <span class="accordion-icon">{{ isOpen[0] ? '−' : '+' }}</span>
      </button>
    </div>
    <div class="accordion-content" [class.active]="isOpen[0]">
      <div class="accordion-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque venenatis in lacus ac porta. Nulla eleifend luctus sapien in rutrum. Sed eu dui fringilla, eleifend est in, iaculis orci. Suspendisse potenti.</p>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <div class="accordion-header">
      <button class="accordion-button" (click)="toggleAccordion(1)" [class.active]="isOpen[1]">
        <span class="accordion-title">Digital creation, animation and videogame production at Universidade A Coruña 2020-2022</span>
        <span class="accordion-icon">{{ isOpen[1] ? '−' : '+' }}</span>
      </button>
    </div>
    <div class="accordion-content" [class.active]="isOpen[1]">
      <div class="accordion-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque venenatis in lacus ac porta. Nulla eleifend luctus sapien in rutrum. Sed eu dui fringilla, eleifend est in, iaculis orci. Suspendisse potenti.</p>
      </div>
    </div>
  </div>
</div>
</div>