<div class="experience">
    <div class="title">
        <h1>WORK <br> EXPERIENCE</h1>
    </div>
    <div class="work-info">
        <h3 class="company-name">Silecmar SL</h3>
        <p>During my internship at Silecmar, I completed advanced training in Django and Angular and applied it to real projects. I developed a comments section in Django Admin for all object detail views and later modernized the ship management platform, updating its frontend design, implementing secure JWT authentication, and adding user permissions and view control. This experience strengthened my skills in building scalable, secure, and user-friendly applications.</p>
    </div>
    <div class="img-me">
        <img src="assets/me.png" alt="Picture of me">
    </div>
</div>